$cell_radius: 40px;
$animation_time: 200ms;
$interface-background: #D5D8DC;

.row {
    height: $cell_radius;
}


body, head {
    font-family: Lucida Sans Unicode;
    margin: 0;
    padding: 0;
}

.cell {
    height: $cell_radius;
    width: $cell_radius;
    border-radius: 100%;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    text-align: center;
    font-size: $cell_radius / 2;
    line-height: $cell_radius - 2;
    -webkit-transition: background-color $animation_time linear;
    -moz-transition: background-color $animation_time linear;
    -o-transition: background-color $animation_time linear;
    -ms-transition: background-color $animation_time linear;
    transition: background-color $animation_time linear;
}

.cell.alive {
    background-color: cyan;
}

#interface-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    > * {
        margin: 10px auto;
        padding: 10px;
        border: 1px solid black;
        max-width: 600px;
        background-color: $interface-background;

        .input-group {
            margin: 10px 0;
            > label {
                display: inline-block;
                width: 50%;
                text-align: right;
                padding: 0 10px;
            }
        }
    }
}

#board-size {
    width: 60px;
}

.input {
    position: relative;
    text-align: center;
    padding: 4px;
    border: 1px solid black;
    font-size: 19px;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;

    &[type=text], &[type=checkbox] {
        height: 30px;
    }
}

.checkbox {
    display: inline-block;
    width: 60px;
    height: 30px;
    position: relative;
    vertical-align: middle;

    & input {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    & input[type=checkbox] + label {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background-color: lightgrey;
        overflow: hidden;
        position: relative;
        -webkit-transition: background-color $animation_time linear;
        -moz-transition: background-color $animation_time linear;
        -o-transition: background-color $animation_time linear;
        -ms-transition: background-color $animation_time linear;
        transition: background-color $animation_time linear;

        & > span {
            position: absolute;
            top: 0;
            left: -30px;
            width: 90px;
            height: 100%;
            -webkit-transition: left $animation_time linear;
            -moz-transition: left $animation_time linear;
            -o-transition: left $animation_time linear;
            -ms-transition: left $animation_time linear;
            transition: left $animation_time linear;

            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 5px;
                box-sizing: border-box;
                font-size: 14px;
                font-style: none;
                vertical-align: top;
                line-height: 20px;
                text-align: center;
            }

            span:nth-child(2) {
                background-color: black;
            }

            span:nth-child(odd) {
                width: 25px
            }

            span:first-child {
                margin-right: 0;
            }

            span:last-child {
                margin-left: 0;
            }
        }
    }

    & input[type=checkbox]:checked + label {
        background-color: #52BE80;
        & > span{
            left: calc(100% - 60px);
        }
    }
}

input[type="submit"] {
    margin: 20px auto;
    display: block;
    padding: 0.5em 2em;
}
 
.button {
    font-size: 30px;
}

#board-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid black;
    background-color: $interface-background;
    padding: 5px;

    > * {
        margin: 5px 5px;
    }
}